body {
    text-align:center;
    font-family: "Arial" ;
    margin:0;
    padding:0;
}

.container {
    width:70%;
    margin:0 auto;
    border:1px solid #DDDDDD;
    padding:1em;
}


.cabecera {
    background:#333;
    color:#FFF;
    padding:2em;
    text-transform:uppercase;
    font-weight:bold;
    border-radius:3px;
}
